/* Webfont: Nohemi-Regular */
@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Regular.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/Nohemi-Regular.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
